{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class = "title">
   Instructions
</div>
{% endblock %}

{% block content %}

<font size="+2">



</font>

<br><br>

{% next_button %}

{% endblock %}


{% block styles %}


<style>
div.title {
    text-align: center;
    font-size: 30px;
    margin-bottom:10px;
    margin-top:-25px;
}


div.Down_column {
        float: right;
    width: 1200px;
    margin-right:-150px;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 20px;
}

</style>

{% endblock %}


